*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.slider{
   width: 100%;
   height: 720px;

   position: relative;
}

.slider img{

   opacity: 0;
   width: 100%;
   position: absolute;

   height: 100%;

   object-fit: cover;
   transition: opacity 1200ms;
}

.slider img.selected{
   opacity: 1;
}

.container{
   width: 1440px;
   margin: 0 auto;
}

/* header */
#nav{
   position: absolute;
   background: rgba(22, 22, 22, 0.62);
   width: 100%;
   height:80px;
   z-index: 9999;
   overflow: hidden;
}

/* nav */
      /* logo */
#logo img{
   margin-top: 25px;
   float: left;
}
      /* nav__bar */
.nav__bar{
   float: right;
   display: flex;
   flex-direction: row;
   padding-top: 23px;
   align-items: center;
}

.nav__bar-item a{
   color: #DDDDDD;
   text-decoration: none;
   font-size: 15px;
}

.nav__bar-item img{
   color: #DDDDDD;
   width: 15px;
   height: 15px;
   margin: 0 8px -2px 0;
}

#nav__btn a{
   text-decoration: none;
   color: #DDDDDD;
   font-weight: bold;
}

#nav__btn button{
   background: #F6921E;
   border: none;
   padding: 9px 30px;
   color: #DDDDDD;
   border-radius: 5px;
   width: 155px;
   height: 33px;
}

.nav__bar-item{
   margin-right: 50px;
}

/*end nav*/

/*box tex*/

header .box-text{
   width: 923px;
   height: 67px;
   background-color: rgba(22, 22, 22, 0.62);
   z-index: 9999px;
   position: absolute;
   margin-top: 327px;
   margin-left: 121px;

}

header .box-text p{
   color: #DDDDDD;
   display: flex;
   height: 67px;
   padding: 26px 0 26px 11px;
}

/*end header*/

/*main section delivery*/


.box__delivery{
   display: flex;
   margin-top: 90px;
   margin-left: 239px;
   margin-right: 239px;
}

.conteudo__delivery{
   margin-left: 88px;
   width: 424px;
   height: 238px;
   margin: 60px 0 0 89px;
}

.box__delivery h2{
   font-size: 45px;
   text-transform: uppercase;
   text-align: center;
   color: #FF8900;
}

.box__delivery p{
   font-size: 20px;
   text-align: center;
   margin: 45px 0 45px 0;
}
.box__delivery .button-delivery a{

   background-color: #FF8900;
   width: 175px;
   height: 43px;
   border-radius: 5px;
   align-items: center;
   display: inline-block;
   padding: 13px 0 0 0;
   color:#DDDDDD;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
}

.box__delivery .button-delivery p{
   text-align: center;
   padding-top: 9px;
   font-size: 16px;
   color: #DDDDDD;
}

/*end section delivery*/

/*section cardapio*/

section.cardapio{
   background: url(../assets/imga.png);
   width: 1440px;
   height: 650px;
   margin: 82px auto 0;
}

.cardapio .conteudo-cardapio .titulo h2{
   color: #FF8900;
   font-size: 40px;
   text-transform: uppercase;
   text-decoration: underline;
   text-align-last: center;
   padding-top: 94px;
   padding-bottom: 60px;
}

.cardapio .conteudo-cardapio .box-cardapio{
   display: flex;
   margin: 0 230px;
}

.cardapio .text-cardapio{
   margin-top: 21px;
}

.cardapio .text-cardapio p{
   background: rgba(0, 0, 0, 0.39);
   color: #DDDDDD;
   font-size: 20px;
   padding: 8px 10px;
   text-align: center;
   line-height: 35px;
   
   width: 439px;
   height: 227px;
}

.cardapio .conteudo-cardapio .box-cardapio img{
   margin-right: 126px;
}

.cardapio .conteudo-cardapio .box-cardapio .btn-cardapio{
   background: #FF8900;
   width: 279px;
   height: 44px;
   text-align-last: center;
   padding: 10px 30px;
   margin: 15px auto;
}

.cardapio .conteudo-cardapio .box-cardapio .btn-cardapio a{
   color: #DDDDDD;
   text-decoration: none;
   font-size: 20px;
}



















